@use './colors' as *;
@use './mixins' as *; 

* {
    box-sizing: border-box;
}

body {
    font-family: Avenir Next, Avenir Demi, Avenir Regular, Arial, Helvetica, sans-serif;
}

.header {

    &__nav{
        display: flex; 
        flex-direction: column;
        background-color: $bandsite-black;

        &-logo-link {
            align-self: center;
            text-decoration: none;
        }
        @include tablet {
            flex-direction: row;
        }
    }

    &__nav-logo {
        color: $white; 
        font-size: 1.5rem;
        line-height: 2rem;
        max-height: 1.25rem;
        max-width: 7.5rem;
        margin: 1rem 0 .5rem 0;

        @include tablet {
            margin: 1.5rem 0 1.5rem 2.5rem;
            font-size: 2rem;
            width: 120px;  
        }

        @include desktop {
            margin: 2.5rem -0.5rem 2.5rem 7.5rem;
        }
    }

    &__nav-links {
        display: flex;
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 400;
        color: $mercury; 

        @include tablet {
            margin: 1.5rem 0 0 4rem;
        }

        @include desktop {
            margin: 2.5rem 0 0 4rem;
        }
        
        &--active {
            border-bottom: .1875rem solid white; 

            li {
                color: $white; 
                font-weight: 500; 
            }
        }
    }

    &__nav-page {
        width: 50%; 
        text-align: center;
        padding-bottom: .5rem; 
        text-decoration: none;
        color: $mercury;

        @include tablet {
            margin-right: 3.5rem;
            width: 32%;
        }

        @include desktop {
            margin-right: 2.25rem;
            width: 100%;
        }
    }
}

.footer {
    display: flex; 
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    background-color: $bandsite-black;
    color: $white; 
    margin-top: 16px; 

    @include tablet {
        padding: 0 2.25rem 0 2.25rem;
        position: relative;
    }

    @include desktop {
        padding: 0 7.5rem 0 7.5rem;
    }

    &__contact {
        @include tablet {
            display: flex;
            align-items: center;
            margin: 3rem 0 2.25rem 0;
        }
    }

    &__title {
        font-size: 1.5rem; 
        font-weight: 500; 
        padding-top: 2rem; 
        padding-bottom: 1rem;

        @include tablet {
            font-size: 2.25rem;
            padding: 0; 
            margin-right: 2.5rem;
        }

        @include desktop {
            margin-right: 4rem; 
        }
    }

    &__social-media {
            padding-bottom: 1rem;

            @include tablet {
                padding: 0; 
            }

            &-icon {
            padding-right: 1.5rem;
            height: 1.375rem;
        }
    }

    &__wrapper {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }

        @include desktop {
            justify-content: normal;
        }

        &-column {
            @include desktop {
                padding-right: 5rem;
            }
        }
    }

    &__container {
        font-size: .8125rem; 
        line-height: 1.125rem;
        margin-bottom: 1rem;

        @include tablet {
            font-size: .875rem;
            line-height: 1.25;
        }

        &--bold {
            font-weight: 600; 
            margin-top: .5rem; 
        }
    }

    &__copyright-container {
        margin-top: 3rem;

        @include tablet {
            margin-top: 1rem; 
            margin-bottom: 1.5rem; 
        }
    }

    &__copyright-title {
        font-size: 1.5rem;
        max-height: 1.25rem;
        max-width: 7.5rem;

        @include tablet {
            position: absolute; 
            top: 3.5rem; 
            right: 2.25rem; 
            width: 120px;
        }

        @include desktop {
            right: 7.5rem; 
        }
    }

    &__copyright-text {
        font-size: .8125rem;
        line-height: 1.125rem;
        margin: 1rem 0 1rem 0;  
    }
}
