@use 'partials/colors' as *;  
@use 'partials/fonts' as *; 
@use 'partials/mixins' as *;
@use 'partials/global' as *; 

.hero {
    display: flex;
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(50, 50, 50, .5);
    background-blend-mode: overlay;
    height: 12.5rem; 
    width: 100vw;
    padding: 0 1rem 0 1rem;

    @include tablet {
        height: 37.5rem; 
        padding: 0 2.25rem 0 2.25rem;
    }

    @include desktop {
        padding: 0 7.5rem 0 7.5rem;
    }

    &__text {
        align-self: center;
        font-size: 1.5rem; 
        font-weight: 600; 
        color: $white; 

        @include tablet {
            font-size: 4rem;
        }
    }
}

.band-info {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;

    @include tablet {
        margin: 0 2.25rem 0 2.25rem;
    }

    @include desktop {
        margin: 0 7.5rem 0 7.5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 1.5rem;
        padding-bottom: 1rem;

        @include tablet {
            font-size: 2.25rem;
            padding-top: 3rem;
            padding-bottom: 2.25rem;
        }
    }

    &__content {
        @include tablet {
            margin: 0 3.5rem 0 3.5rem;
            position: relative;
        }

        @include desktop {
            margin: 0 5rem 0 5rem; 
        }
    }

    &__img {
        max-height: 10.625rem; 
        width: 90vw; 
        margin-bottom: 1rem; 

        @include tablet {
            max-height: 19.0625rem;
            width: 100%;
            margin-bottom: 2rem;
        }

        @include desktop {
            max-height: 28.125rem;
        }
    }

    &__quote {
        padding-bottom: .5rem;
        font-size: .875rem; 
        line-height: 1.375rem; 
        font-weight: 500; 
    }

    &__quote-statement {
        @include tablet {
            font-size: 1.25rem; 
            line-height: 1.75rem; 
        }

        @include desktop {
            max-width: 45.625rem;
        }
    }

    &__sub-title {
        font-size: .875rem; 
        padding-top: 1rem; 
        padding-bottom: 1rem; 

        @include tablet {
            font-size: 1.375rem;
            padding-top: 2.5rem;
            padding-bottom: 1.5rem;
            font-weight: 500;
        }
    }

    &__copy-container {
        @include tablet {
            display: flex;
            justify-content: space-between; 
        }
    }

    &__copy { 
        font-size: .8125rem; 
        opacity: .8;
        line-height: 1.125rem;
        padding-bottom: 1rem;

        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
            padding-bottom: 2rem;
            max-width: 17.3125rem;
        }

        @include desktop {
            max-width: 26.5625rem; 
            line-height: 1.375rem;
        }
    }
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    background-color: $alabaster;

    @include tablet {
        padding: 0 2.25rem .75rem 2.25rem; 
    }

    @include desktop {
        padding: 0 7.5rem .75rem 7.5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin: 0 1rem 0 1rem;

        @include tablet {
            margin: 0; 
            font-size: 2.25rem;
            padding: 3rem 0 2.25rem 0;
        }
    }

    &__container {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; 
        }
    }

    &__img {
        max-height: 10.625rem; 
        width: 90vw; 
        margin: 0 1rem 1rem 1rem;

        @include tablet {
            margin: 0 0 1.5rem 0; 
            max-height: 10.625rem;
            width: 31%; 
        }

        @include desktop {
            width: 32%;
        }
    }
}

.comments {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;

    @include tablet {
        margin: 0 2.25rem 0 2.25rem;
    }

    @include desktop {
        margin: 0 7.5rem; 
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem 0;

        @include tablet {
            font-size: 2.25rem;
            padding: 3rem 0 2.25rem 0;
        }
    }

    &__wrapper {
        @include tablet {
            margin: 0 3.5rem 0 3.5rem;
        }

        @include desktop {
            margin: 0 16rem;
        }
    }

    &__input-container {
        border-bottom: 1px solid $mercury;
    }

    &__avatar-img {
        background-image: url(../assets/images/Mohan-muruge.jpg);
        background-position: center;
        background-size: contain;
        background-color: $mercury;
        max-width: 36px;
        max-height: 36px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        float: left;
        margin: 26px 16px 0 0;

        @include tablet {
            max-width: 48px;
            max-height: 48px;
            width: 48px; 
            height: 48px; 
            margin-right: 12px;
        }
    }
    
    &__form {
        display: flex;
        flex-direction: column;

        &-label {
            color: $silver;
            font-size: 10px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 4px;

            @include tablet {
                font-size: 12px;
            }
        }

        &-field {
            min-height: 36px;
            width: 100%;
            font-size: 14px; 
            font-family: avenir;
            border-radius: 4px;
            border: 1px solid $mercury; 
            padding: 10px; 
            margin-bottom: 16px;
            background-color: $alabaster;

            @include tablet {
                min-height: 48px;
                padding: 16px;
            }

            &:focus {
                border: 1px solid $bandsite-black;
                outline: none; 
            }

            &:invalid {
                border: 1px solid $error; 
            }

            &--comment {
                resize: none;
                height: 100px;
            }
        }

        &-button {
            font-size: 16px;
            line-height: 20px;
            color: $white;
            background: $bandsite-black;
            padding: 10px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            margin-bottom: 16px;

            @include tablet {
                width: 30%;
                align-self: flex-end;
                margin: 8px 0 24px 0;
            }

            &:hover {
                background-color: $bandsite-darkblack;
            }
        }
    }

    &__post {
        position: relative;
        padding: 16px 0 16px 0;
        border-bottom: 1px solid $mercury;

        @include tablet {
            padding: 24px 0 24px 0;
        }

        &-circle {
            border-radius: 50%;
            width: 36px; 
            height: 36px; 
            float: left;
            margin-top: -4px;
            margin-right: 16px;
            background-color: $mercury;
            
            @include tablet {
                max-width: 48px;
                max-height: 48px;
                width: 48px;
                height: 48px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-author {
            font-size: 13px;
            font-weight: 500;

            @include tablet {
                font-size: 14px;
            }
        }  

        &-date {
            position: absolute;
            right: 0; 
            font-size: 12px;
            color: $silver;

            @include tablet {
                font-size: 14px;
            }
        }

        &-message {
            font-size: 13px;
            line-height: 18px;
            margin-top: 8px;
            opacity: .9;

            @include tablet {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }   
}