@use 'partials/colors' as *;  
@use 'partials/fonts' as *; 

* {
    box-sizing: border-box;
}

body {
    font-family: Avenir Next, Avenir Demi, Avenir Regular, Arial, Helvetica, sans-serif;
}

.header {

    &__nav{
        display: flex; 
        flex-direction: column;
        background-color: $bandsite-black;

        &-logo-link {
            align-self: center;
            text-decoration: none;
        }

    }

    &__nav-logo {
        color: $white; 
        font-size: 1.5rem;
        line-height: 2rem;
        max-height: 1.25rem;
        max-width: 7.5rem;
        margin: 1rem 0 1rem 0;
    }

    &__nav-links {
        display: flex;
        // justify-content: space-around;
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
        color: $mercury; 
        
        &--active {
            border-bottom: .1875rem solid white; 
            li {
                color: $white; 
            }
        }

    }

    &__nav-page {
        width: 50%; 
        text-align: center;
        padding-bottom: .5rem; 
        text-decoration: none;
        color: $mercury;
    }
}

.hero {
    display: flex;
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(50, 50, 50, .5);
    background-blend-mode: overlay;
    height: 12.5rem; 
    width: 100vw;
    padding: 0 1rem 0 1rem;

    &__text {
        align-self: center;
        font-size: 1.5rem; 
        font-weight: 600; 
        color: $white; 
    }
}

.article {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        }

    &__img {
        max-height: 10.625rem; 
        width: 90vw; 
        margin-bottom: 1rem; 
        }

    &__quote {
        padding-bottom: .5rem;
        font-size: .875rem; 
        line-height: 1.375rem; 
        font-weight: 500; 
    }

    &__sub-title {
        font-size: .875rem; 
        padding-top: 1rem; 
        padding-bottom: 1rem; 
    }

    &__copy { 
        font-size: .8125rem; 
        opacity: .8;
        line-height: 1.125rem;
        padding-bottom: 1rem;
    }
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    background-color: $alabaster;

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin: 0 1rem 0 1rem;
    }

    &__img {
        max-height: 10.625rem; 
        width: 90vw; 
        margin: 0 1rem 1rem 1rem;
    }
}

.footer {
    display: flex; 
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    background-color: $bandsite-black;
    color: $white; 

    &__title {
        font-size: 1.5rem; 
        font-weight: 500; 
        padding-top: 2rem; 
        padding-bottom: 1rem;
    }

    &__social-media {
            padding-bottom: 1rem;

            &-icon {
            padding-right: 1.5rem;
            height: 1.375rem;
        }
    }

    &__container {
        font-size: .8125rem; 
        line-height: 1.125rem;
        margin-bottom: 1rem;
    }

    &__container--bold {
        font-weight: 600; 
        margin-top: .5rem; 
    }

    &__copyright-container {
        margin-top: 3rem;
    }

    &__copyright-title {
        font-size: 1.5rem;
        max-height: 1.25rem;
        max-width: 7.5rem;
    }

    &__copyright-text {
        font-size: .8125rem;
        line-height: 1.125rem;
        margin: 1rem 0 1rem 0;  
    }
}

@media screen and (min-width: 48rem) {
    .header {
        &__nav {
            flex-direction: row;
            // align-items: center; 
        }

        &__nav-logo {
            margin: 1.5rem 0 1.5rem 2.5rem;
            font-size: 2rem;
            width: 120px;  
        }

        &__nav-links {
            margin: 1.5rem 0 0 4rem;
        }

        &__nav-page {
            margin-right: 4rem;
            font-size: 1rem;
            // padding-bottom: 2rem; 
            width: 32%;
        }
    }

    .hero {
        height: 37.5rem; 
        padding: 0 2.25rem 0 2.25rem; 

        &__text {
            font-size: 4rem;
        }
    }

    .article {
        margin: 0 2.25rem 0 2.25rem;

        &__title {
            font-size: 2.25rem;
            padding-top: 3.5rem;
            padding-bottom: 1.875rem;
        }

        &__content {
            margin: 0 3.5rem 0 3.5rem;
            position: relative;
        }

        &__img {
            max-height: 19.0625rem;
            width: 100%;
            margin-bottom: 2rem;
        }

        &__quote-statement {
            font-size: 1.25rem; 
            line-height: 1.75rem; 
        }

        &__sub-title {
            font-size: 1.375rem;
            padding-top: 2.5rem;
            padding-bottom: 1.5rem;
            font-weight: 500;
        }

        &__copy-container {
            display: flex;
            justify-content: space-between; 
        }

        &__copy {
            font-size: .875rem;
            line-height: 1.25rem;
            padding-bottom: 2rem;
            max-width: 17.3125rem;
        }
    }

    .photo-gallery {
        padding: 0 2.25rem .75rem 2.25rem; 

        &__title {
            margin: 0; 
            font-size: 2.25rem;
            padding: 3.5rem 0 2rem 0; 
        }

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; 
        }

        &__img {
            margin: 0 0 1.5rem 0; 
            max-height: 10.625rem;
            width: 31%; 
        }
    }

    .footer {
        padding: 0 2.25rem 0 2.25rem;
        position: relative;

        &__contact {
            display: flex;
            align-items: center;
            margin: 3rem 0 2rem 0;
        }

        &__title {
            font-size: 2.25rem;
            font-weight: 37.5rem; 
            padding: 0; 
            margin-right: 2rem;
        }

        &__social-media {
            padding: 0; 
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__container {
            font-size: .875rem;
            line-height: 1.25;
        }

        &__copyright-container {
            margin-top: 1rem; 
            margin-bottom: 1.5rem; 
        }

        &__copyright-title {
            position: absolute; 
            top: 3.5rem; 
            right: 2.25rem; 
            width: 120px;
        }
    }
}

@media screen and (min-width: 80rem) {
    .header {
        &__nav-logo {
            margin: 2.5rem -0.5rem 2.5rem 7.5rem;
        }
        &__nav-links {
            margin: 2.5rem 0 0 4rem;
        }
        &__nav-page {
            margin-right: 3rem;
        }
    }

    .hero {
        padding: 0 7.5rem 0 7.5rem;
    }

    .article {
        margin: 0 7.5rem 0 7.5rem;

        &__content {
            margin: 0 5rem 0 5rem; 
        }

        &__img {
            max-height: 28.125rem;
        }

        &__quote-statement {
            max-width: 45.625rem; 
        }

        &__copy {
            max-width: 26.5625rem; 
        }
    }

    .photo-gallery {
        padding: 0 7.5rem .75rem 7.5rem;
    }

    .footer {
        padding: 0 7.5rem 0 7.5rem;
        &__title {
            margin-right: 4rem; 
        }

        &__wrapper {
            justify-content: normal;
        }

        &__wrapper-column {
            padding-right: 5rem; 
        }
        
        &__copyright-title {
            right: 7.5rem; 
        }
    }
}