@font-face {
  font-family: avenir-regular;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenir-demi;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: avenir-bold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: Avenir Next, Avenir Demi, Avenir Regular, Arial, Helvetica, sans-serif;
}

.header__nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
.header__nav-logo-link {
  align-self: center;
  text-decoration: none;
}
.header__nav-logo {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0 1rem 0;
}
.header__nav-links {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #E1E1E1;
}
.header__nav-links--active {
  border-bottom: 0.1875rem solid white;
}
.header__nav-links--active li {
  color: #FFFFFF;
}
.header__nav-page {
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #E1E1E1;
}

.hero {
  display: flex;
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  height: 12.5rem;
  width: 100vw;
  padding: 0 1rem 0 1rem;
}
.hero__text {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
}
.article__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.article__img {
  max-height: 10.625rem;
  width: 90vw;
  margin-bottom: 1rem;
}
.article__quote {
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
}
.article__sub-title {
  font-size: 0.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.article__copy {
  font-size: 0.8125rem;
  opacity: 0.8;
  line-height: 1.125rem;
  padding-bottom: 1rem;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}
.photo-gallery__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0 1rem 0 1rem;
}
.photo-gallery__img {
  max-height: 10.625rem;
  width: 90vw;
  margin: 0 1rem 1rem 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
}
.comments__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0;
}
.comments__avatar-img {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-position: center;
  background-size: contain;
  background-color: #E1E1E1;
  max-width: 36px;
  max-height: 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  float: left;
  margin: 26px 16px 0 0;
}
.comments__form {
  display: flex;
  flex-direction: column;
}
.comments__form-label {
  color: #AFAFAF;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 4px;
}
.comments__form-field {
  min-height: 36px;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  padding: 10px;
  margin-bottom: 16px;
  background-color: #FAFAFA;
}
.comments__form-field:focus {
  border: 1px solid #323232;
  outline: none;
}
.comments__form-field:invalid {
  border: 1px solid #D22D2D;
}
.comments__form-field--comment {
  resize: none;
}
.comments__form-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #323232;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
}
.comments__hr {
  width: 100%;
  opacity: 0.5;
}
.comments__post {
  position: relative;
  margin: 16px 0 16px 0;
}
.comments__post-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  float: left;
  margin-top: -4px;
  margin-right: 16px;
  background-color: #E1E1E1;
}
.comments__post-content {
  display: flex;
  flex-direction: column;
}
.comments__post-author {
  font-size: 13px;
  font-weight: 500;
}
.comments__post-date {
  position: absolute;
  right: 0;
  font-size: 13px;
  color: #AFAFAF;
}
.comments__post-message {
  font-size: 13px;
  line-height: 18px;
  margin-top: 8px;
  opacity: 0.9;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  background-color: #323232;
  color: #FFFFFF;
  margin-top: 8px;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer__social-media {
  padding-bottom: 1rem;
}
.footer__social-media-icon {
  padding-right: 1.5rem;
  height: 1.375rem;
}
.footer__container {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
.footer__container--bold {
  font-weight: 600;
  margin-top: 0.5rem;
}
.footer__copyright-container {
  margin-top: 3rem;
}
.footer__copyright-title {
  font-size: 1.5rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.footer__copyright-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 48rem) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo {
    margin: 1.5rem 0 1.5rem 2.5rem;
    font-size: 2rem;
    width: 120px;
  }
  .header__nav-links {
    margin: 1.5rem 0 0 4rem;
  }
  .header__nav-page {
    margin-right: 4rem;
    font-size: 1rem;
    width: 32%;
  }

  .hero {
    height: 37.5rem;
    padding: 0 2.25rem 0 2.25rem;
  }
  .hero__text {
    font-size: 4rem;
  }

  .article {
    margin: 0 2.25rem 0 2.25rem;
  }
  .article__title {
    font-size: 2.25rem;
    padding-top: 3.5rem;
    padding-bottom: 1.875rem;
  }
  .article__content {
    margin: 0 3.5rem 0 3.5rem;
    position: relative;
  }
  .article__img {
    max-height: 19.0625rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .article__quote-statement {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .article__sub-title {
    font-size: 1.375rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
  }
  .article__copy-container {
    display: flex;
    justify-content: space-between;
  }
  .article__copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 2rem;
    max-width: 17.3125rem;
  }

  .photo-gallery {
    padding: 0 2.25rem 0.75rem 2.25rem;
  }
  .photo-gallery__title {
    margin: 0;
    font-size: 2.25rem;
    padding: 3.5rem 0 2rem 0;
  }
  .photo-gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo-gallery__img {
    margin: 0 0 1.5rem 0;
    max-height: 10.625rem;
    width: 31%;
  }

  .comments {
    margin: 0 2.25rem 0 2.25rem;
  }
  .comments__title {
    font-size: 2.25rem;
    padding: 3.5rem 0 2rem 0;
  }
  .comments__wrapper {
    margin: 0 3.5rem 0 3.5rem;
  }
  .comments__avatar-img {
    max-width: 48px;
    max-height: 48px;
    width: 48px;
    height: 48px;
    margin-right: 12px;
  }
  .comments__form-label {
    font-size: 12px;
  }
  .comments__form-field {
    min-height: 48px;
    padding: 16px;
  }
  .comments__form-button {
    width: 30%;
    align-self: flex-end;
    margin: 8px 0 16px 0;
  }
  .comments__hr {
    margin-bottom: 24px;
  }
  .comments__post {
    margin: 24px 0 24px 0;
  }
  .comments__post-circle {
    max-width: 48px;
    max-height: 48px;
    width: 48px;
    height: 48px;
  }
  .comments__post-author {
    font-size: 14px;
  }
  .comments__post-date {
    font-size: 14px;
  }
  .comments__post-message {
    font-size: 14px;
    line-height: 22px;
  }

  .footer {
    padding: 0 2.25rem 0 2.25rem;
    position: relative;
  }
  .footer__contact {
    display: flex;
    align-items: center;
    margin: 3rem 0 2rem 0;
  }
  .footer__title {
    font-size: 2.25rem;
    font-weight: 37.5rem;
    padding: 0;
    margin-right: 2rem;
  }
  .footer__social-media {
    padding: 0;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer__container {
    font-size: 0.875rem;
    line-height: 1.25;
  }
  .footer__copyright-container {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer__copyright-title {
    position: absolute;
    top: 3.5rem;
    right: 2.25rem;
    width: 120px;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav-logo {
    margin: 2.5rem -0.5rem 2.5rem 7.5rem;
  }
  .header__nav-links {
    margin: 2.5rem 0 0 4rem;
  }
  .header__nav-page {
    margin-right: 3rem;
    font-size: 14px;
  }

  .hero {
    padding: 0 7.5rem 0 7.5rem;
  }

  .article {
    margin: 0 7.5rem 0 7.5rem;
  }
  .article__content {
    margin: 0 5rem 0 5rem;
  }
  .article__img {
    max-height: 28.125rem;
  }
  .article__quote-statement {
    max-width: 45.625rem;
  }
  .article__copy {
    max-width: 26.5625rem;
    line-height: 1.375rem;
  }

  .photo-gallery {
    padding: 0 7.5rem 0.75rem 7.5rem;
  }
  .photo-gallery__img {
    width: 32%;
  }

  .comments {
    margin: 0 7.5rem;
  }
  .comments__wrapper {
    margin: 0 16rem;
  }

  .footer {
    padding: 0 7.5rem 0 7.5rem;
  }
  .footer__title {
    margin-right: 4rem;
  }
  .footer__wrapper {
    justify-content: normal;
  }
  .footer__wrapper-column {
    padding-right: 5rem;
  }
  .footer__copyright-title {
    right: 7.5rem;
  }
}/*# sourceMappingURL=bio.css.map */