@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  font-family: avenir, Arial, Helvetica, sans-serif;
}

.header__nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
.header__nav-logo-link {
  align-self: center;
  text-decoration: none;
}
@media (min-width: 48rem) {
  .header__nav {
    flex-direction: row;
  }
}
.header__nav-logo {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0 0.5rem 0;
}
@media (min-width: 48rem) {
  .header__nav-logo {
    margin: 1.5rem 0 1.5rem 2.5rem;
    font-size: 2rem;
    width: 7.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav-logo {
    margin: 2.5rem -0.5rem 2.5rem 7.5rem;
  }
}
.header__nav-links {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #E1E1E1;
}
@media (min-width: 48rem) {
  .header__nav-links {
    margin: 1.5rem 0 0 4rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav-links {
    margin: 2.5rem 0 0 4rem;
  }
}
.header__nav-links--active {
  border-bottom: 0.1875rem solid white;
}
.header__nav-links--active li {
  color: #FFFFFF;
  font-weight: 500;
}
.header__nav-page {
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #E1E1E1;
}
@media (min-width: 48rem) {
  .header__nav-page {
    margin-right: 3.5rem;
    width: 32%;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav-page {
    margin-right: 2.25rem;
    width: 100%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  background-color: #323232;
  color: #FFFFFF;
  margin-top: 1rem;
}
@media (min-width: 48rem) {
  .footer {
    padding: 0 2.25rem 0 2.25rem;
    margin-top: 2rem;
    position: relative;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 0 7.5rem 0 7.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__contact {
    display: flex;
    align-items: center;
    margin: 3rem 0 2.25rem 0;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
    padding: 0;
    margin-right: 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__title {
    margin-right: 4rem;
  }
}
.footer__social-media {
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__social-media {
    padding: 0;
  }
}
.footer__social-media-icon {
  padding-right: 1.5rem;
  height: 1.375rem;
}
@media (min-width: 48rem) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .footer__wrapper {
    justify-content: normal;
  }
}
@media screen and (min-width: 80rem) {
  .footer__wrapper-column {
    padding-right: 5rem;
  }
}
.footer__container {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__container {
    font-size: 0.875rem;
    line-height: 1.25;
  }
}
.footer__container--bold {
  font-weight: 600;
  margin-top: 0.5rem;
}
.footer__copyright-container {
  margin-top: 3rem;
}
@media (min-width: 48rem) {
  .footer__copyright-container {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}
.footer__copyright-title {
  font-size: 1.5rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 48rem) {
  .footer__copyright-title {
    position: absolute;
    top: 3.5rem;
    right: 2.25rem;
    width: 7.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copyright-title {
    right: 7.5rem;
  }
}
.footer__copyright-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 1rem 0 1rem 0;
}
@media (min-width: 48rem) {
  .footer__copyright-text {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 80rem) {
  .header__nav-page {
    width: 3.75rem;
  }
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  height: 17rem;
  width: 100vw;
  padding: 0 1rem 0 1rem;
}
@media (min-width: 48rem) {
  .hero {
    padding: 0 2.25rem 0 2.25rem;
    height: 29.0625rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    padding: 0 7.5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hero__album {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 2rem 0 1rem 0;
}
@media (min-width: 48rem) {
  .hero__album {
    font-size: 1.375rem;
    font-weight: 600;
    padding: 3.5rem 0 1rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .hero__album {
    padding: 0 0 1rem 0;
  }
}
.hero__band-name {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  max-width: 15rem;
  color: #FFFFFF;
}
@media (min-width: 48rem) {
  .hero__band-name {
    font-size: 3.5rem;
    line-height: 4.25rem;
    max-width: 34.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__band-name {
    max-width: 29.375rem;
  }
}
.hero__soundcloud-song {
  max-height: 6.25rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
@media (min-width: 48rem) {
  .hero__soundcloud-song {
    margin-top: 2.5rem;
    max-height: 8.4375rem;
    width: 54%;
  }
}
@media screen and (min-width: 80rem) {
  .hero__soundcloud-song {
    max-height: 8.125rem;
    padding-left: 13.75rem;
  }
}

@media screen and (min-width: 80rem) {
  .shows {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 2rem 1rem 1rem 1rem;
}
@media (min-width: 48rem) {
  .shows__title {
    padding: 3rem 2.25rem 3rem 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__title {
    display: inline;
    padding: 3rem 7.5rem 0 7.5rem;
    align-self: baseline;
  }
}
.shows__sub-headings {
  display: none;
  justify-content: flex-start;
  margin: 0 3.5rem;
  font-size: 0.8125rem;
  font-weight: 550;
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .shows__sub-headings {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .shows__sub-headings {
    width: 65%;
    justify-content: flex-start;
    margin: 0 2rem;
  }
}
.shows__sub-headings-text {
  width: 11.875rem;
}
@media (min-width: 48rem) {
  .shows__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .shows__wrapper {
    width: 65%;
    margin: 0 5.5rem;
    padding-top: 0.625rem;
  }
}
.shows__concert {
  padding: 0 1rem 0 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.0625rem solid #E1E1E1;
}
@media (min-width: 48rem) {
  .shows__concert {
    padding: 0 2.25rem 0 2.25rem;
    margin-bottom: 0;
    width: 95%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid #E1E1E1;
  }
}
.shows__concert:hover {
  background-color: #FAFAFA;
}
.shows__concert--active {
  background-color: #E1E1E1;
}
.shows__concert-details-container {
  width: 7.8125rem;
}
.shows__concert-label {
  font-size: 0.625rem;
  color: #AFAFAF;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .shows__concert-label {
    display: none;
  }
}
.shows__concert-details {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0.25rem 0 0.5rem 0;
}
@media (min-width: 48rem) {
  .shows__concert-details {
    font-size: 0.875rem;
  }
}
.shows__concert-details--bold {
  font-weight: 600;
}
.shows__concert-button {
  width: 100%;
  height: 2.5rem;
  color: #FFFFFF;
  background: #323232;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  border: none;
  margin: 0.5rem 0 1rem 0;
  padding: 0.625rem;
  cursor: pointer;
}
@media (min-width: 48rem) {
  .shows__concert-button {
    min-width: 9.375rem;
    width: 20%;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
  }
}
.shows__concert-button:hover {
  background-color: #000000;
}/*# sourceMappingURL=shows.css.map */