@use 'partials/colors' as *;  
@use 'partials/fonts' as *; 
@use 'partials/global' as *; 

.hero {
    background-image: url(../assets/images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(50, 50, 50, .5);
    background-blend-mode: overlay;
    height: 17rem; 
    width: 100vw;
    padding: 0 1rem 0 1rem;

    &__album {
        color: $white; 
        font-size: 14px;
        font-weight: 500;
        padding: 2rem 0 1rem 0; 
    }
    &__band-name {
        align-self: center;
        font-size: 1.5rem; 
        font-weight: 600; 
        line-height: 32px;
        max-width: 240px;
        color: $white; 
    }
    &__soundcloud-song {
        max-height: 100px; 
        border-radius: 4px;
        margin-top: 16px;
    }
}

.shows {
    // padding: 0 1rem 0 1rem;
    &__title {
        font-size: 24px; 
        line-height: 32px;
        font-weight: 500; 
        padding: 32px 1rem 16px 1rem;
    }
    &__concert {
        padding: 0 1rem 0 1rem;
        &:hover {
            background-color: $alabaster;
        }
        &:focus {
            background-color: $mercury;
        }
        &-label {
            font-size: 10px; 
            color: $silver;
            // padding-bottom: 4px;  
        }
        &-details {
            font-size: 13px;
            line-height: 18px;
            margin: 4px 0 8px 0; 
            &--bold {
                font-weight: 500;
            }
        }
        &-button {
            width: 100%; 
            height: 40px; 
            color: $white;
            background: $bandsite-black;
            font-size: 14px; 
            font-family: avenir-demi;
            font-weight: 500;
            line-height: 20px;
            border-radius: 4px;
            border: none;
            margin: 8px 0;
            padding: 10px;
            cursor: pointer;
        }
    }
    &__hr {
        opacity: .5; 
        stroke-width: 1px;
        margin-bottom: 16px;
    }
    
}

@media screen and (min-width: 48rem) {

    .hero {
        padding: 0 2.25rem 0 2.25rem;
        height: 465px;
        &__album {
            font-size: 22px;
            font-weight: 600;
            padding: 3.5rem 0 1rem 0;
        }
        &__band-name {
            font-size: 56px;
            line-height: 68px;
            max-width: 550px;
        }
        &__soundcloud-song {
            margin-top: 40px;
            max-height: 135px;
            width: 54%;
        }
    }
    .shows {
        &__title {
            padding: 48px 2.25rem 72px 2.25rem;
            font-size: 36px;
            line-height: 44px;
        }
        &__wrapper {
            padding-bottom: 8px; 
        }
        &__concert {
            padding: 0 2.25rem 0 2.25rem;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-label {
                display: none;
                &--section {
                    display: block;
                    position: absolute;
                    top: -32px;
                    font-weight: 500;
                    font-size: 12px; 
                }
            }
            &-details {
                font-size: 14px; 
            }
            &-button {
                min-width: 150px; 
                width: 20%; 
                margin: 0 0 8px 0; 
                font-size: 16px; 
                font-family: avenir next;
                &:hover {
                    background: $bandsite-darkblack; 
                }
            }
        }
        &__hr {
            width: 95%; 
        }
    }
}

@media screen and (min-width: 80rem) {
    .header {
        &__nav{
            &-page {
                width: 60px; 
            }
        }
    }
    .hero {
        padding: 0 7.5rem; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 650px; 
       
        &__album {
            padding: 0 0 1rem 0; 
        }
        &__band-name {
            max-width: 470px;
        }
        &__soundcloud-song {
            max-height: 130px; 
            padding-left: 220px; 
        }
    }
    .shows {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &__title {
            display: inline;
            padding: 48px 7.5rem 0 7.5rem; 
            align-self: baseline;
        }
        &__wrapper {
            width: 65%; 
            margin: 0 88px; 
            padding-top: 10px; 
        }
        &__hr {
            width: 97%; 
        }
    }
}