@use 'partials/colors' as *;  
@use 'partials/fonts' as *; 
@use 'partials/mixins' as *;
@use 'partials/global' as *; 

 .header {
        &__nav{

            &-page {
                @include desktop {
                    width: 3.75rem; 
                }
            }
        }
    }

.hero {
    background-image: url(../assets/images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(50, 50, 50, .5);
    background-blend-mode: overlay;
    height: 17rem; 
    width: 100vw;
    padding: 0 1rem 0 1rem;

    @include tablet {
        padding: 0 2.25rem 0 2.25rem;
        height: 100vh;
    }

    @include desktop {
        padding: 0 7.5rem; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__album {
        color: $white; 
        font-size: .875rem;
        font-weight: 500;
        padding: 2rem 0 1rem 0; 

        @include tablet {
            font-size: 1.375rem;
            font-weight: 600;
            padding: 3.5rem 0 1rem 0;
        }

        @include desktop {
            padding: 0 0 1rem 0; 
        }
    }

    &__band-name {
        align-self: center;
        font-size: 1.5rem; 
        font-weight: 600; 
        line-height: 2rem;
        max-width: 15rem;
        color: $white; 

        @include tablet {
            font-size: 3.5rem;
            line-height: 4.25rem;
            max-width: 34.375rem;
        }

        @include desktop {
            max-width: 29.375rem;
        }
    }

    &__soundcloud-song {
        max-height: 6.25rem; 
        border-radius: .25rem;
        margin-top: 1rem;

        @include tablet {
            margin-top: 2.5rem;
            max-height: 8.4375rem;
            width: 54%;
        }

        @include desktop {
            max-height: 8.125rem; 
            padding-left: 13.75rem; 
        }
    }
}

.shows {
    @include desktop {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__title {
        font-size: 1.5rem; 
        line-height: 2rem;
        font-weight: 600; 
        padding: 2rem 1rem 1rem 1rem;

        @include tablet {
            padding: 3rem 2.25rem 3rem 2.25rem;
            font-size: 2.25rem;
            line-height: 2.75rem;
        }

        @include desktop {
            display: inline;
            padding: 3rem 7.5rem 0 7.5rem; 
            align-self: baseline;
        }
    }

    &__sub-headings {
        display: none;
        justify-content: flex-start;
        margin: 0 3.5rem;
        font-size: .8125rem;
        font-weight: 550;
        color: $silver;

        @include tablet {
            display: flex;
            justify-content: space-between;
        }

        @include desktop {
            width: 65%;
            justify-content: flex-start;
            margin: 0 2rem;
        }

        &-text {
            width: 11.875rem;
        }
    }

    &__wrapper {
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include desktop {
            width: 65%; 
            margin: 0 5.5rem; 
            padding-top: .625rem; 
        }
    }

    &__concert {
        padding: 0 1rem 0 1rem;
        margin-bottom: 1rem; 
        border-bottom: .0625rem solid $mercury;
        
        @include tablet {
            padding: 0 2.25rem 0 2.25rem;
            margin-bottom: 0; 
            width: 95%; 
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: .0625rem solid $mercury; 
        }

        &:hover {
            background-color: $alabaster;
        }

        &--active {
            background-color: $mercury;
        }

        &-details-container {
            width: 7.8125rem;
        }

        &-label {
            font-size: .625rem; 
            color: $silver;
            font-weight: 600; 

            @include tablet {
                display: none;
            }
        }

        &-details {
            font-size: .8125rem;
            line-height: 1.125rem;
            margin: .25rem 0 .5rem 0; 

            @include tablet {
                font-size: .875rem; 
            }

            &--bold {
                font-weight: 600;
            }
        }

        &-button {
            width: 100%; 
            height: 2.5rem; 
            color: $white;
            background: $bandsite-black;
            font-size: .875rem; 
            line-height: 1.25rem;
            border-radius: .25rem;
            border: none;
            margin: .5rem 0 1rem 0;
            padding: .625rem;
            cursor: pointer;

            @include tablet {
                min-width: 9.375rem; 
                width: 20%; 
                margin: 1rem 0 1rem 0; 
                font-size: 1rem; 
            }

            &:hover {
                background-color: $bandsite-darkblack;
            }
        }
    }
}