@font-face {
  font-family: avenir-regular;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenir-demi;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: avenir-bold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: Avenir Next, Avenir Demi, Avenir Regular, Arial, Helvetica, sans-serif;
}

.header__nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
.header__nav-logo-link {
  align-self: center;
  text-decoration: none;
}
.header__nav-logo {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0 0.5rem 0;
}
.header__nav-links {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #E1E1E1;
}
.header__nav-links--active {
  border-bottom: 0.1875rem solid white;
}
.header__nav-links--active li {
  color: #FFFFFF;
  font-weight: 500;
}
.header__nav-page {
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #E1E1E1;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  background-color: #323232;
  color: #FFFFFF;
  margin-top: 8px;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer__social-media {
  padding-bottom: 1rem;
}
.footer__social-media-icon {
  padding-right: 1.5rem;
  height: 1.375rem;
}
.footer__container {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
.footer__container--bold {
  font-weight: 600;
  margin-top: 0.5rem;
}
.footer__copyright-container {
  margin-top: 3rem;
}
.footer__copyright-title {
  font-size: 1.5rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.footer__copyright-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 48rem) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo {
    margin: 1.5rem 0 1.5rem 2.5rem;
    font-size: 2rem;
    width: 120px;
  }
  .header__nav-links {
    margin: 1.5rem 0 0 4rem;
  }
  .header__nav-page {
    margin-right: 3.5rem;
    width: 32%;
  }

  .footer {
    padding: 0 2.25rem 0 2.25rem;
    position: relative;
  }
  .footer__contact {
    display: flex;
    align-items: center;
    margin: 3rem 0 2.25rem 0;
  }
  .footer__title {
    font-size: 2.25rem;
    font-weight: 37.5rem;
    padding: 0;
    margin-right: 2.5rem;
  }
  .footer__social-media {
    padding: 0;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer__container {
    font-size: 0.875rem;
    line-height: 1.25;
  }
  .footer__copyright-container {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer__copyright-title {
    position: absolute;
    top: 3.5rem;
    right: 2.25rem;
    width: 120px;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav-logo {
    margin: 2.5rem -0.5rem 2.5rem 7.5rem;
  }
  .header__nav-links {
    margin: 2.5rem 0 0 4rem;
  }
  .header__nav-page {
    margin-right: 2.25rem;
    width: 100%;
  }

  .footer {
    padding: 0 7.5rem 0 7.5rem;
  }
  .footer__title {
    margin-right: 4rem;
  }
  .footer__wrapper {
    justify-content: normal;
  }
  .footer__wrapper-column {
    padding-right: 5rem;
  }
  .footer__copyright-title {
    right: 7.5rem;
  }
}
.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  height: 17rem;
  width: 100vw;
  padding: 0 1rem 0 1rem;
}
.hero__album {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 2rem 0 1rem 0;
}
.hero__band-name {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
  max-width: 240px;
  color: #FFFFFF;
}
.hero__soundcloud-song {
  max-height: 100px;
  border-radius: 4px;
  margin-top: 16px;
}

.shows__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  padding: 32px 1rem 16px 1rem;
}
.shows__concert {
  padding: 0 1rem 0 1rem;
}
.shows__concert-label {
  font-size: 10px;
  color: #AFAFAF;
}
.shows__concert-details {
  font-size: 13px;
  line-height: 18px;
  margin: 4px 0 8px 0;
}
.shows__concert-details--bold {
  font-weight: 500;
}
.shows__concert-button {
  width: 100%;
  height: 40px;
  color: #FFFFFF;
  background: #323232;
  font-size: 14px;
  font-family: avenir-demi;
  font-weight: 500;
  line-height: 20px;
  border-radius: 4px;
  border: none;
  margin: 8px 0;
  padding: 10px;
  cursor: pointer;
}
.shows__hr {
  opacity: 0.5;
  stroke-width: 1px;
  margin-bottom: 16px;
}

@media screen and (min-width: 48rem) {
  .hero {
    padding: 0 2.25rem 0 2.25rem;
    height: 465px;
  }
  .hero__album {
    font-size: 22px;
    font-weight: 600;
    padding: 3.5rem 0 1rem 0;
  }
  .hero__band-name {
    font-size: 56px;
    line-height: 68px;
    max-width: 550px;
  }
  .hero__soundcloud-song {
    margin-top: 40px;
    max-height: 135px;
    width: 54%;
  }

  .shows__title {
    padding: 48px 2.25rem 72px 2.25rem;
    font-size: 36px;
    line-height: 44px;
  }
  .shows__wrapper {
    padding-bottom: 8px;
  }
  .shows__concert {
    padding: 0 2.25rem 0 2.25rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .shows__concert-label {
    display: none;
  }
  .shows__concert-label--section {
    display: block;
    position: absolute;
    top: -32px;
    font-weight: 500;
    font-size: 12px;
  }
  .shows__concert-details {
    font-size: 14px;
  }
  .shows__concert-button {
    min-width: 150px;
    width: 20%;
    margin: 0 0 8px 0;
    font-size: 16px;
    font-family: avenir next;
  }
  .shows__concert-button:hover {
    background: #000000;
  }
  .shows__hr {
    width: 95%;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav-page {
    width: 60px;
  }

  .hero {
    padding: 0 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 650px;
  }
  .hero__album {
    padding: 0 0 1rem 0;
  }
  .hero__band-name {
    max-width: 470px;
  }
  .hero__soundcloud-song {
    max-height: 130px;
    padding-left: 220px;
  }

  .shows {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .shows__title {
    display: inline;
    padding: 48px 7.5rem 0 7.5rem;
    align-self: baseline;
  }
  .shows__wrapper {
    width: 65%;
    margin: 0 88px;
    padding-top: 10px;
  }
  .shows__hr {
    width: 97%;
  }
}/*# sourceMappingURL=shows.css.map */